.footer {
  margin-bottom: 100px;
}

.footer__container,
.footer__action-box {
  gap: 20px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}

.footer__action-box {
  padding: 8px 24px;
  border-radius: 8px;
  justify-content: center;
  background-color: #5d78ff;
}

.footer__button {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #5d78ff;
  display: block;
}

.footer__description p {
  color: #001e41;
  font-size: 14px;
  width: 450px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  letter-spacing: 0;
  text-transform: none;
}
